<!-- <nz-table #basicTable [nzBordered]="true" [nzData]="expenses" [nzSize]="'middle'" [nzPagination]="false">
    <thead>
      <tr>
        <th nzWidth="50%">Description</th>
        <th nzWidth="30%">Amount</th>
        <th nzWidth="20%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{ expense.description }}</td>
        <td>${{ expense.amount }}</td>
        <td>
          <button nz-button nzType="link" (click)="editExpense(expense)">Edit</button>
          <button nz-button nzType="text" nzDanger (click)="deleteExpense(expense.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
   -->